/*https://bl.ocks.org/d3noob/97e51c5be17291f79a27705cef827da2*/
.info {
    font-size: 16px;
}

button:hover {
    background-color: whitesmoke;
}

div.tooltip {
    position: absolute;
    width: 200px;
    height: 100px;
    padding: 2px;
    font: 12px sans-serif;
    background: #2B292E;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.right{
    float:right;
}

.left{
    float:left;
}

#sources {
    font-family: 'Lato', sans-serif;
    color: white;
}

.credits {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: white;
}

.sources_list {
    list-style-type: none;
    padding: 0px !important;
    font-size: 1.1em;
    color: white;
}

.sources_header {
    font-weight: bold;
    color: white;
}

body {
    background: url("https://wallpaperaccess.com/full/1268171.jpg") fixed;
    color: white;
}

.left, .right {
    color: white;
}

.range-slider {
    height: 5px;
    position: relative;
    background-color: #e1e9f6;
    border-radius: 2px;
}
.range-selected {
    height: 100%;
    left: 32%;
    right: 39%;
    position: absolute;
    border-radius: 5px;
    background-color: #1b53c0;
}

.range-input {
    position: relative;
}
.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -7px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.range-input input::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid #1b53c0;
    background-color: #fff;
    pointer-events: auto;
    -webkit-appearance: none;
}
.range-input input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #1b53c0;
    background-color: #fff;
    pointer-events: auto;
    -moz-appearance: none;
}

.range-year {
    margin: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.range-year label {
    margin-right: 5px;
    color: white;
}

.range-year input {
    width: 'fit-content';
    padding: 5px;
    cursor: default;
}

.range-year input:first-of-type {
    margin-right: 15px;
}