/*https://bl.ocks.org/d3noob/97e51c5be17291f79a27705cef827da2*/
div.tooltip {
  position: absolute;
  width: 200px;
  height: 100px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.right{
    float:right;
}

.left{
    float:left;
}

#sources {
  font-family: 'Lato', sans-serif;
  color: white;
}

.credits {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: white;
}

.sources_list {
  list-style-type: none;
  padding: 0px !important;
  font-size: 1.1em;
  color: white;
}

.sources_header {
  font-weight: bold;
  color: white;
}

body {
  background-image: url("https://wallpaperaccess.com/full/1268171.jpg");
  color: white;
}

